body{
    background: url('/images/bg.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
}

/*.vs{*/
/*    max-width: 50px !important;*/
/*    max-height: 50px !important;*/
/*    float: left;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/

.vs{
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.player{
   position: relative;
}



.td{
    margin-top: 10px;
    width: 33%;
}
.btn-vote{
    background-color: #323232;
}
.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    height: 300px;
    width: 100%;
}

.phone-responsive{
    display: none;
}



.comment:not(:nth-child(1)){
    border-top: 1px solid gray;
}

/* Responsive Styles Smartphone Only */
@media all and (max-width: 767px) {
    .desk-responsive{
        display: none;
    }
}

.card-img-overlay{
    /*background-color: rgba(0, 0, 0, 0.45);*/
}

.btn{
    transition: all .15s !important;
}

.btn:hover{
    /*transform: scale(1.1);*/
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.45);
    /*background: #181818;*/
}
.btn:active{
    transform: scale(.9);
    box-shadow: none;
}

/* new */
.sug-fight{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

@media all and (max-width: 980px) {

    .sug-fight{
        flex-wrap: wrap;
    }
}

@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .sug-fight{
        flex-wrap: wrap;
    }
}


/* new----------------------------------------------------------- */
.card {
    overflow: hidden;
}
.card-i{
    transition: all .15s;
}

.card:hover .card-i{
    transform: scale(1.05);
}

.d-mother{
    position: relative;
}
.np-buttons{
    position: absolute;

    top: 50%;
    transform: translate(-50% 0);
    z-index: 100;
}

.prev-f,
.next-f{
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;


    width: 7rem;
}

.prev-f{
    border-radius: 0 5px 5px 0;
    position: absolute;
    top:0;
    left:0;
}
.next-f{
    border-radius: 5px 0 0 5px;
    position: absolute;
    top:0;
    right: 0;
}

.n-icon{
    font-size: 32px;
    color: #fff;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.prev-f-text,
.next-f-text{
    text-align: center;
    font-weight: 600;
}

.custom-pagi a:hover {
    text-decoration: none !important;
}


.card-accent-dark {
    border-top: 2px solid #636f83 !important;
}

body .main-container {
    min-height: calc(100vh - 120px);
}
/*
body .main-container .container .fight--category {
    min-height: calc(100vh - 250px);
}
*/

.comments-div {
    margin-bottom: 30px;
}


.custom-pagi-m{
    height: 4rem;
}

.sug-fight .h6 {
    line-height: 40px;
    margin-bottom: 0;
}

* {
    font-weight: bolder !important;
}

/*login css*/
.login_mid {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100%;
    min-height: calc(100vh - 120px);
}

.main-container{
    background-color: rgba(0, 0, 0, 0.35);
    padding-top: 2%;
}


