main aside {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    -webkit-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -ms-transition: all linear 300ms;
    -o-transition: all linear 300ms;
    transition: all linear 300ms;
}

main.small-sidebar aside {
    -webkit-box-flex: 0;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    -webkit-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -ms-transition: all linear 300ms;
    -o-transition: all linear 300ms;
    transition: all linear 300ms;

}
.img-thumbnail-small{
    max-width: 150px;
}
.img-thumbnail-medium{
    max-width: 300px;
}
.img-thumbnail-large{
    max-width: 640px;
}
