main aside {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
}

main.small-sidebar aside {
    -webkit-box-flex: 0;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    -webkit-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -ms-transition: all linear 500ms;
    -o-transition: all linear 500ms;
    transition: all linear 500ms;
}
