.body{
    background: url(/images/bg.jpg);
    background-size: cover;
    background-position: center !important;
}

.vs{
    max-width: 50px !important;
    max-height: 50px !important;
    float: left;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-vote{
    background-color: #323232;
}
.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    height: 300px;
    width: 100%;
}
